h1, h5{
    font-family: 'Chalet NewYorkNineteenSixty';
}

#head a{
    color: #fff;
    font-family: 'Chalet NewYorkNineteenSixty';
    font-size: 22px;
    text-decoration: none;
    margin-top: 8px;
}
a::before, a:hover::before{
    background: #FFF;
}
#head a i{
    font-size: 22px;
}
button.small{
    color: #fff;
    min-width: 100px;
    font-size: 20px;
    font-family: 'Chalet NewYorkNineteenSixty';
}

span.frost{
    font-size: 16px;
}

.title_card{
    background: linear-gradient(30deg,  #FF9900, #F20076);
}

.details span{
    display: block;
    line-height: 24px;
    text-align: justify;
    width: 90%;
}
.detail_name, .detail_name a{
    max-width: 80%;
    font-size: 18px;
    line-height: 30px;
}

hr{width: 90%; float: left; border: none; height: 1.5px; background: #06a77d;}
.ink_blue{background: #1d1d57; color: #fff}